#bullseye .window-content {
  background: initial;
  color: #f0f0e0;
  padding: 0;
}

#bullseye .player-header {
  line-height: 20px;
  white-space: nowrap;
  word-break: break-all;
  border-bottom: 1px solid #f0f0e0;
  padding: 2px 2px 2px 8px;
}

#bullseye .player-icon {
  border-radius: 50%;
  flex: 0 0 8px;
  height: 8px;
  margin: 5px 8px 0 0;
}

#bullseye .target-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bullseye .target {
  border-top: 1px solid #000;
  border-bottom: 1px solid #333;
  padding: 2px 2px;
}

#bullseye .target:first-child {
  border-top: 1px solid transparent;
}

#bullseye .target:last-child {
  border-bottom: 1px solid transparent;
}

#bullseye .target:hover {
  background: rgba(255, 255, 255, 0.08);
}

#bullseye .target.active {
  border-color: #ff6400;
}

#bullseye .target img {
  flex: 0 0 36px;
  height: 36px;
  height: 36px;
  object-fit: cover;
  object-position: 50% 0;
  margin: 3px 8px 0 2px;
  border: none;
}

#bullseye .target h4 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  line-height: 42px;
}

#bullseye .no-players {
  padding: 8px;
}
